# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The built executable binary
gremlinapi-svr-api

# dist directory containing cross platform binary releases
dist/
